

body{
    /* change1 */
    background-color: rgb(24, 42, 57);
/*     hi-babe */
    /* background-image: url(/my_portfolio/images/main_bg.png); */
    /* color: rgb(0, 170, 255); */
    color: rgb(131, 131, 255);
    height: auto;
    /* padding: 10px; */
    margin: 0px;
    font-family: fantasy;
    font-style: italic;
    display: flex;
    justify-content: center;
}
header{
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    /* background-image: url(/my_portfolio/images/header_bg); */
    color: rgb(131, 131, 255);
    /* margin: 10px; */
    width: 100%;
    height: 100px;
    position: fixed;
    /* background-color: rgb(16, 25, 79); */
    /* background-color: rgb(21, 29, 29); */
    /* height: 50px; */
    /* border: 2px solid aqua; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#profile_container{
    padding-top: 200px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
    /* padding: 5% 15%; */
    /* border: 2px solid aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
#description{
    border: 3px solid aqua;
    border-radius: 20px;
    padding: 10px 0px 10px 10px;
    /* width: min-content; */
    font-family: fantasy;
    font-style: italic;
}
#p1{
    margin: 10px;
    /* border: 3px solid red; */
    font-size: 200%;
}
#p2{
    margin: 10px;
    /* border: 3px solid red; */
    font-size: 400%;
}
#p3{
    margin: 10px;
    /* border: 3px solid red; */
    font-size: 150%;
}
#photo{
    /* border: 3px solid red; */
    width: 90%;
    /* height: 100%; */
}
#photo>img{
    width: 100%;
    
}

#name_and_toggle{
    /* position: fixed; */
    display: flex;
    align-items: center;
    width: 50%;
    /* border: 3px solid red; */
    justify-content: space-between;
}
#name{
    margin-left: 10px;
    padding: 5px;
    width: 50%;
    /* border: 3px solid red; */
    font-family:fantasy;
    font-style: italic;
    font-size: 30px;
}
#toggle{
    width: 50%;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
}
/* #dark/light{
    width: 1px;
} */
#navbar{
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    /* border: 3px solid green; */
}
a{
    /* padding-right: 10px; */
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
    font-family:fantasy;
    font-style: italic;
    color: rgb(131, 131, 255);

}
a:hover{
    color: aqua;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.3s;

}
#links{
    margin: 5px solid red;
    margin-top: 20px;
}

#linkedin,#insta,#leetcode,#twitter{
    width: 5%;
}

#cv_download{
    margin:10px 0px;
}

#resume_button{
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(131, 131, 255);
 
    color: rgb(0, 0, 0);
    
    font-family: fantasy;
    font-style: italic;
    font-size: 15px;
    transition: 0.4s;
}

#resume_button:hover{
    background-color: rgb(73, 255, 155);
    cursor: pointer;
    transition: 0.3s;

    
}
#about_me_container{
    padding-top: 200px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
    font-size: 75%;
    display: flex;
    align-items: center;
    
}
#about_me_read_more{
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(131, 131, 255);
 
    color: rgb(0, 0, 0);
    
    font-family: fantasy;
    font-style: italic;
    font-size: 15px;
    transition: 0.4s;
}
#about_me_read_more:hover{
    background-color: rgb(73, 255, 155);
    cursor: pointer;
    transition: 0.3s;

}
#about_me>p{
    font-size: 200%;
    margin: 10px 0px;
    
}
#about_me{
    padding-left: 20px;
    border: 2px solid aqua;
    border-radius: 20px;
}

#skills_container{
    /* border: 2px solid red; */
    padding-top: 100px;
    font-size: 300%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
#progresses{
    /* border: 2px solid white; */
    width: 100%;
    display: flex;
    align-items: center;
}
#progress_bar{
    padding: 2%;
    /* border: 2px solid aqua; */
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.langs{
    padding-left: 10%;
    align-self: flex-start;
}
.bar1{
    
    /* border: 2px solid aqua; */
    border-radius: 10px;
    width: 80%;
    height: 10px;
    background-color: rgb(131, 131, 255);

}
.bar2{
    /* border: 2px solid rgb(0, 255, 72); */
    border-radius: 10px;
    width: 80%;
    height: 10px;
    background-color: rgb(249, 249, 249);
}
#circle_p{
    width: 100%;
}
#services_container{
    
    padding: 100px 10%;
    /* border: 2px solid greenyellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#services_heading{
    font-size: 300%;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}
#cards_container{
    
    /* border: 2px solid aqua; */
    display: flex;
    gap: 50px;
}
.card{
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card:hover{
    /* border: 2px solid aqua; */
    box-shadow: 10px 10px aqua;
    cursor: pointer;
    transition: 0.3s;


}
.card>.read_more{
    /* font-family: fantasy; */
    font-size: auto;
    font-style: italic;
    border-radius: 10px;
    height: 30px;
    background-color: rgb(131, 131, 255);
    color: white;
}
.card>.read_more:hover{
    background-color: aqua;
    cursor: pointer;
    transition: 0.3s;

}
.heading{
    font-size: 200%;
}


#projects_heading{
    font-size: 300%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}
#pr_cards_container{
    padding: 50px 0px;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-content: space-evenly; */
    gap: 30px ;

}
#pr_card{
    border: 2px solid aqua;
    background-image: url(images/pr_back.jpg);
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 200%;
}
#pr_card>img{
    position: absolute;
    width: 300px;
    opacity: 0.7;
    z-index: 100;
}
#pr_card>p{
    position: relative;
    z-index: 100;
}
#pr_card:hover{
    
    color: aqua;
    img{
        opacity: 0;
    }
    box-shadow: 10px 10px white;
    cursor: pointer;
    transition: 0.3s;

    
}
#contact_me_container{
    margin-top: 100px;
    margin-bottom: 100px;
    /* padding: 100px 0px; */
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact_me_heading{
    /* border: 10px solid green; */
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
}
#first2{
    /* border: 2px solid aqua; */
    width: 100%;
    display: flex;
    
}
#second2{
    /* border: 2px solid aqua; */
    width: 100%;
    display: flex;
    
}
input{
    margin: 2%;
    border-radius: 10px;
    width: 50%;
    height:30px
}
#query{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
}
#query>textarea{
    border-radius: 10px;
    margin: 2%;
    width: 100%;
    height: 200px;
}
#send>button{
    border-radius: 10px;
    padding: 5px 10px;
}
#send>button:hover{
    background-color: aqua;
    cursor: pointer;
    transition: 0.3s;

}
footer{
    background-color: black;
    width: 100%;
    color: white;
}

#certificates_container{
    margin-top: 50px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 100px;
}
#cert_heading{
    height: 200px;
    border: 2px solidwhite;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
}
#certs_container{
    /* border: 2px solid aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
.cert{
    /* border: 2px solid red; */
    /* border-radius: 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
}
.cert>img{
    width: 200px;
    border-radius: 15px;
    overflow: hidden;
}
.cert>a>button{
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgb(131, 131, 255);
    color: white;
}
.cert>a>button:hover{
    cursor: pointer;
    background-color: rgb(73, 255, 155);
    transition: 0.3s;

}


@media(width<1045px ) and (width>900px){
    #description>#p1{
        font-size: 150%;
    }
    #p2{
        font-size: 300%;
    }
    #p3{
        font-size: 150%;
    }
    #skills_container{
        font-size: 200%;
    }
    

}
@media(width<900px) and (width>650px){
    #profile_container>#photo{
        display: none;
    }
    #about_me_container>#img{
        display: none;
    }
    #about_me_container{
        /* border: 2px solid red; */
        padding-top: 20px;
        font-size: 60%;
    }
    #description>#p1{
        font-size: 250%;
    }
    #p2{
        font-size: 500%;
    }
    #p3{
        font-size: 250%;
    }
    #main_header{
        flex-direction: column;
    }
    /* #toggle{
        display: none;
    } */
    #name_and_toggle{
        display: flex;
        justify-content: space-evenly;
        /* border: 2px solid red; */
        /* width: 75%; */
    }
    #toggle{
        /* border: 2px solid red; */
        width: auto;
      }

      #skills_container{
        font-size: 150%;
    }
    #progresses{
        display: flex;
        flex-direction: column;
    }
    #progress_bar{
        width: 100%;
    }
    #cards_container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .heading{
        font-size: 200%;
    }
    .card>.read_more{
        
        font-size: 100%;
    }

    #contact_me_container{
        
        width: 75%;
        
    }
}
@media(width<650px) and (width>525px){
    #profile_container>#photo{
        display: none;
    }
    #about_me_container>#img{
        display: none;
    }
    #about_me_container{
        /* border: 2px solid red; */
        padding-top: 20px;
        font-size: 55%;
    }
    #main_header{
        flex-direction: column;
    }
    #name_and_toggle{
        display: flex;
        justify-content: space-evenly;
        /* border: 2px solid red; */
        width: 75%;
    }
    #toggle{
        /* border: 2px solid red; */
        width: auto;
    }
    #skills_container{
        font-size: 150%;
        padding-top: 20px;
    }
    #progresses{
        display: flex;
        flex-direction: column;
    }
    #progress_bar{
        width: 100%;
    }
    
    #cards_container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .card{
        font-size: 75%;
    }
    .heading{
        font-size: 150%;
    }
    .card>.read_more{
        
        font-size: 105%;
    }
    #contact_me_container{
        
        width: 75%;
        
    }
    #certificates_container{
        
        width: 90%;
    }
}
@media(width<525px){
    #profile_container>#photo{
        display: none;
    }
    #about_me_container>#img{
        display: none;
    }
    #about_me_container{
        /* border: 2px solid red; */
        padding-top: 20px;
        font-size: 50%;
    }
    #main_header{
        flex-direction: column;
    }
    #name_and_toggle{
        display: flex;
        justify-content: space-between;
        /* border: 2px solid red; */
        width: 75%;
    }
    #toggle{
        /* border: 2px solid red; */
        width: auto;
    }
    a{
        font-size: 15px;
        padding: 5px;
    }
    #p1{
        font-size: 150%;
    }
    #p2{
        font-size: 275%;
    }
    #p3{
        font-size: 100%;
    }
    #skills_container{
        font-size: 100%;
        padding-top: 20px;
    }
    #progresses{
        display: flex;
        flex-direction: column;
    }
    #progress_bar{
        width: 100%;
    }
    #cards_container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .card{
        font-size: 55%;
    }
    .heading{
        font-size: 150%;
    }
    .card>.read_more{
        
        font-size: 100%;
    }
    #contact_me_container{
        
        width: 90%;
        
    }

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(131, 131, 255);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(131, 131, 255);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }




